name: CI

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - main

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -r requirements.txt

      - name: Install helm-bot
        run: |
          pip install -e .

      - name: Run tests
        run: |
          python -m coverage run -m pytest -vvv

      - name: Generate coverate report
        run: |
          coverage report && coverage html

      - name: Upload htmlcov dir as artifact
        uses: actions/upload-artifact@v2
        with:
          name: htmlcov
          path: htmlcov/

  update-badge:
    if: github.event_name == 'push' && github.ref != 'refs/heads/main'
    needs: run-tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Download htmlcov artifact
        uses: actions/download-artifact@v2
        with:
          name: htmlcov
          path: htmlcov

      - name: Setup Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install dependencies
        run:
          python -m pip install -U pip bs4

      - name: Run script to update badge metadata
        run: |
          python update_coverage_badge.py

      - name: Add and commit the edited metadata file
        uses: EndBug/add-and-commit@v4
        with:
          add: 'bade_metadata.json'
          author_name: CI User
          author_email: ci-user@github.local
          message: 'Update coverage badge metadata'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
